system:

Please generate an Azure AI Search query according to the question and chat history input by users
If the question is not in Chinese, please turn it into Chinese before generate the query
do not output additonal word except query
remove all the symbols, only leave Chinese, English, and number

{% for item in chat_history %}
user:
{{item.inputs.question}}
assistant:
{{item.outputs.answer}}
{% endfor %}

user:
{{question}}